$secondary: #ff3366;
$primary: #121212;
$white: #fff;
$black: $primary;
$grey: #f3f3f5;
$categoryButton: #e0957a;
html{
	margin:0;
	padding:0;
        height:100%;
}

body{
	margin:0;
	padding:0;
	font-family:'Open Sans';
        overflow-x:hidden;
        background-color:$grey;
        position: relative;
}
h1{
    font-size:70px;
}
h3{
    font-size:35px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #eee;
}
hr.sidehr{
    margin-left: 30px;
    width: 60%;
}
a{
    &:hover{
        text-decoration:none;
    }
    &:visited{
        text-decoration:none;
    }
    &:focus{
        outline:none;
        text-decoration:none;
    }
}
/*-------------------------------*/
/*             Basic             */
/*-------------------------------*/
.mt10{
    margin-top:10px;
}

.mt20{
    margin-top:20px;
}

.mt30{
    margin-top:30px;
}

.mt40{
    margin-top:40px;
}
.pt10{
    padding-top:10px;
}
.pt20{
    padding-top:20px;
}
.pt30{
    padding-top:30px;
}
.pt40{
    padding-top:40px;
}
@media screen and (max-width:992px){
    .mt10m{
        margin-top:10px;
    }

    .mt20m{
        margin-top:20px;
    }

    .mt30m{
        margin-top:30px;
    }

    .mt40m{
        margin-top:40px;
    }
}

.mb10{
    margin-bottom:10px;
}

.mb20{
    margin-bottom:20px;
}

.mb30{
    margin-bottom:30px;
}

.mb40{
    margin-bottom:40px;
}

p{
    font-weight:400;
}
.homepageBanerInner{
    overflow: hidden;
    margin-top:30px;
}

.homepageBanerInner.firstbaner{
    margin-top:0;
    .homepageBaner{
        padding:150px 0;
        &:hover{
         transition: all ease 0.3s;
         transform: rotate(1deg) scale(1.10);
        }  
    }
    .homepageBaner:hover h1, .homepageBaner:hover h3{
        transform:rotate(-1deg);
        transition:all ease 0.3s;
    }
}

.homepageBaner{
    text-align: center;
    color:$white;
    padding:100px 0;
    background-size:cover;
    overflow:hidden;
    h1{
        font-weight: 800;
        margin-bottom:0;    
    }
    h3{
        margin-top:0;
        font-weight:300;
    }
    &:hover{
        overflow:hidden;
        transform:rotate(1deg) scale(1.05);
        transition:all ease 0.2s;
    }
}

.homepageBaner:hover h1, .homepageBaner:hover h3{
        transform:rotate(-1deg);
        transition:all ease 0.3s;
}

.firstbaner{
    margin-top:0 !important;
}

// NAVIGATION //
.navbar-default{
    background:$white;
    border:none;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border:none;    
}

.nav .open > a, 
.nav .open > a:hover, 
.nav .open > a:focus {background-color: transparent;}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 220px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    overflow-y: auto;
    overflow-x: hidden;
    background: $primary;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}

#page-content-wrapper {
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/


.sidebar-nav {
    position: absolute;
    top: 50%;
    transform:translate(0, -50%);
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    position: relative; 
    line-height: 5px;
    display: inline-block;
    width: 100%;
}
.sidebar-nav li:first-child a{
    font-weight:800;
    font-size:120%;
    cursor:default;
}
.sidebar-nav li:first-child a:hover{
    font-weight:800;
    font-size:120%;
    cursor:default;
    color:#ddd;
}


.sidebar-nav li a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
  position: absolute;
  top: 20px;  
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  color:$primary;
  border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}
.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}
.hamburger.is-closed .hamb-top { 
  top: 5px; 
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
  bottom: 5px;  
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px,0,0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay           \*/
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
}

header{
    background-color:$white;
    height:80px;
    img{
        height:60px !important;
        margin-top:10px;
    }
    box-shadow:0 10px 10px 0 rgba(0,0,0,.1);
}
.socialNav{
    position:absolute;
    bottom:60px;
    right:40px;
}
.fa{
    color:$white;
    font-size:25px;
    padding:0 5px;
}

/*-------------------------------*/
/*            Single             */
/*-------------------------------*/

.recommendedLogos{
    background-color:$primary;
    padding:15px 0;
}

#recommended{
    padding:15px 0 25px;
    background-color:$primary;
    color:$white;
    text-align:center;
    h2{
        font-weight:400;
    }
}

.singleHeading{
    text-align:center;
    margin-top: 30px;
    img{
        height:300px
    }
    h3{
        font-weight:900;
        margin:25px 0 0;
    }
    .singleDiscount{
        display:block;
        width:150px;
        margin:20px auto;   
        padding:10px 20px;
        background:transparent;
        border:4px solid $primary;
        color:$black;
        font-size:25px;
        font-weight:800;
    }
}
.getOffer{
    display:block;
    width:200px;
    text-transform:uppercase;
    background: $black;
    color:$white;
    padding:15px 20px;
    font-size:20px;
    border:none;
    outline:none;
    margin:25px auto 0;
}
.getOffer:hover{
    background:#1c1c1c;
    transition:all ease 0.3s;
}

.singleDescription{
    text-align:center;
}


.recommendedTitle{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
    color:$white;
    font-weight:500;
}
.filterTitle{
        font-family: 'Roboto Condensed', sans-serif;
        h4{
            margin-left:15px; 
            font-weight:700;
        }
        hr{
            color:black;
            border-color:black; 
            margin-left:15px; 
            margin-right:15px;
        }
}

.categorySingle{
    font-family: 'Roboto Condensed', sans-serif;
    height:400px;
    .categoryTitle{
        display:block;
        margin:10px auto 3px;
        color:$black;
        text-transform:uppercase;
        font-weight:600;
        &:hover{
            text-decoration: none;
            color:#1c1c1c;
            transition: all ease 0.3s;
            font-weight:500;
        }
    }
    .categorySingleButton{
            text-transform:uppercase;
            display:block;
            width:100%;
            text-align:center;
            margin:10px auto;
            padding:10px 20px;
            border:1px solid $primary;
            background:transparent;
            font-size:15px;
            font-weight:600;
            color:$primary;
            &:hover{
                transition:background-color ease 0.3s;
                background-color: $categoryButton;
                border-color:$categoryButton;
                color:$white;
            }
    }
    small{
        color:$black;
        font-size:12px;
        margin-bottom:3px;
    }
    .procent{
        color:$categoryButton;
        font-size:10px;
        text-transform:uppercase;
    }
    .endTime{
        text-align:right;
        color:#8e8e8e;
        font-size:11px;
        text-transform:uppercase;
        margin-top:10px;
    }
}

.categoryImage{
    background-size:cover;
    height:300px;
    font: 0/0 a;
}
.categoryImage:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.categoryImage img {
    display: inline-block;
    vertical-align: middle;
    max-height: 100%;
}

/*-------------------------------*/
/*            Modal              */
/*-------------------------------*/
.modal-dialog{
    width:400px
}
.modal-content{
    border-radius:0;
    box-shadow:none;
    border:none;
    background-color: $primary;
    padding:20px 0;
    .modal-header{
        padding:0;
        border:none;
        margin:0 auto;
        text-align:center;
        margin-bottom:15px;
        .modalButton{
            background-color: lighten($primary, 20%);
            color:$white;
            width:150px;
            margin:0;
            padding:15px 20px;
            border:none;
            &:focus{
                outline:none
            }
            &:active{
                outline:none;
            }
        }
        .modalButton.active{
            color:$white;
            background-color: $secondary;
        }
    }
    
    .modalForm{
        h4{
            color:white;
            font-weight:300;
            font-size:25px;
            text-align:center;
            margin-bottom:45px;
        }
      form {
      display: table;
      margin: 20px auto 0;

      label {
        position: relative;
        display: block;

        input {
          font: 18px Helvetica, Arial, sans-serif;
          box-sizing: border-box;
          display: block;
          border: none;
          padding: 20px;
          width: 300px;
          margin-bottom: 20px;
          font-size: 18px;
          outline: none;
          transition: all 0.2s ease-in-out;

          &::placeholder {
            transition: all 0.2s ease-in-out;
            color: #999;
            font: 18px Helvetica, Arial, sans-serif;
          }

          &:focus, &.populated {
            padding-top: 28px;
            padding-bottom: 12px;

            &::placeholder {
              color: transparent;
            }

            & + span {
              opacity: 1;
              top: 10px;
            }
          }
        }

        span {
          color: $secondary;
          font-weight:600;
          font: 13px Helvetica, Arial, sans-serif;
          position: absolute;
          top: 0px;
          left: 20px;
          opacity: 0;
          transition: all 0.2s ease-in-out;
        }
      }

      input[type="submit"] {
        transition: all 0.2s ease-in-out;
        font: 18px Helvetica, Arial, sans-serif;
        border: none;
        background: $secondary;
        color: #fff;
        padding: 16px 40px;
        margin:0 auto;
        width:100%;
        &:hover {
          background: darken($secondary, 5%);
        }
        &:focus{
            outline:none;
        }
      }
    }
    }    
}
.btn-getCoupon{
    background:#65d34b;
    color:white;
    padding:10px 0;
    &:hover{
        color:white;
        outline:none;
    }
    &:focus{
        color:white;
         outline:none;
    }
}
#couponModal{
    .modal-dialog{
        width:500px;
    }
    .modal-content{
        background:white;
        .couponDescription{
            margin-top:20px;
            .btn-getCoupon{
                margin-top:10px;
                width:100%;
            }
            .couponCode{
                text-align:center;
            }
        }
        .couponDetails{
            background-size:cover;
            position:relative;
            height:350px;
            .couponCTA {
                background: white;
                width: 50%;
                padding:20px;
                left: 20px;
                top: 20px;
                height: calc(100% - 40px);
                position: absolute;
                img{
                    max-height: 100px;
                    margin: 0 auto;
                }
                .btn-getCoupon{
                    width:100%;
 
               }
                
            }
        }
    }
    }
/*-------------------------------*/
/*            Welcome            */
/*-------------------------------*/
#welcomeScreen{
    background: white;
    z-index: 9999;
    position: absolute;
    width: 110% !important;
    left: -5%;
    height: 100vh;
    overflow: hidden;    
    .col-sm-4{
        transition-duration:0.5s;
        height: 50vh;
        background-size: cover;
    }
    .message{
        display:none;
        position:absolute;
        height:100%;
        width:100%;
        background-color:rgba(0,0,0,.5);
        z-index:99999;
        img{
            margin:0 auto;
        }
        h2{
            top:50%;
            color:white;
            text-align:center;
        }
        .messageInside{
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            position:absolute;
        }
    }
}

.topLoader{   
    position: absolute;
    z-index: 999999;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.95);
}

.topLoader > div {
    border: 15px solid pink; 
    border-top: 15px solid #ffdbf7; 
    border-radius: 50%;
    width: 148px;
    height: 148px;
    animation: spin 2s linear infinite;
    position: relative; 
    left: calc( 50% - 60px );
    top: calc( 50% - 123px );
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
   
/*-------------------------------*/
/*            Zoom In            */
/*-------------------------------*/

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
    
@media screen and (max-width:768px){
    #welcomeScreen{
        .col-sm-4{
            height:20vh;
            background-position:center;
        }
    }
    h1{
        font-size:50px;
    }
    .categoryImage {
        height:100vw;
    }
    .categorySingle{
        height:calc(100vw + 150px);
    }
}

@media screen and (max-width:400px){
    h1{
        font-size:35px;
    }
    #recommended{
        padding:50px 10px;
    }
}