html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  overflow-x: hidden;
  background-color: #f3f3f5;
  position: relative;
}

h1 {
  font-size: 70px;
}

h3 {
  font-size: 35px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}

hr.sidehr {
  margin-left: 30px;
  width: 60%;
}

a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:focus {
  outline: none;
  text-decoration: none;
}

/*-------------------------------*/
/*             Basic             */
/*-------------------------------*/
.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px;
}

.mt40 {
  margin-top: 40px;
}

.pt10 {
  padding-top: 10px;
}

.pt20 {
  padding-top: 20px;
}

.pt30 {
  padding-top: 30px;
}

.pt40 {
  padding-top: 40px;
}

@media screen and (max-width: 992px) {
  .mt10m {
    margin-top: 10px;
  }

  .mt20m {
    margin-top: 20px;
  }

  .mt30m {
    margin-top: 30px;
  }

  .mt40m {
    margin-top: 40px;
  }
}
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

p {
  font-weight: 400;
}

.homepageBanerInner {
  overflow: hidden;
  margin-top: 30px;
}

.homepageBanerInner.firstbaner {
  margin-top: 0;
}
.homepageBanerInner.firstbaner .homepageBaner {
  padding: 150px 0;
}
.homepageBanerInner.firstbaner .homepageBaner:hover {
  transition: all ease 0.3s;
  transform: rotate(1deg) scale(1.1);
}
.homepageBanerInner.firstbaner .homepageBaner:hover h1, .homepageBanerInner.firstbaner .homepageBaner:hover h3 {
  transform: rotate(-1deg);
  transition: all ease 0.3s;
}

.homepageBaner {
  text-align: center;
  color: #fff;
  padding: 100px 0;
  background-size: cover;
  overflow: hidden;
}
.homepageBaner h1 {
  font-weight: 800;
  margin-bottom: 0;
}
.homepageBaner h3 {
  margin-top: 0;
  font-weight: 300;
}
.homepageBaner:hover {
  overflow: hidden;
  transform: rotate(1deg) scale(1.05);
  transition: all ease 0.2s;
}

.homepageBaner:hover h1, .homepageBaner:hover h3 {
  transform: rotate(-1deg);
  transition: all ease 0.3s;
}

.firstbaner {
  margin-top: 0 !important;
}

.navbar-default {
  background: #fff;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: transparent;
}

/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/
#wrapper {
  padding-left: 0;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 220px;
}

#sidebar-wrapper {
  z-index: 1000;
  left: 220px;
  width: 0;
  height: 100%;
  margin-left: -220px;
  overflow-y: auto;
  overflow-x: hidden;
  background: #121212;
  transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

#wrapper.toggled #sidebar-wrapper {
  width: 220px;
}

#page-content-wrapper {
  width: 100%;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/
.sidebar-nav {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 220px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  position: relative;
  line-height: 5px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:first-child a {
  font-weight: 800;
  font-size: 120%;
  cursor: default;
}

.sidebar-nav li:first-child a:hover {
  font-weight: 800;
  font-size: 120%;
  cursor: default;
  color: #ddd;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}

.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;
  background-color: #222;
  box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/
.hamburger {
  position: absolute;
  top: 20px;
  z-index: 999;
  display: block;
  width: 32px;
  height: 32px;
  margin-left: 15px;
  background: transparent;
  color: #121212;
  border: none;
}

.hamburger:hover,
.hamburger:focus,
.hamburger:active {
  outline: none;
}

.hamburger.is-closed:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  position: absolute;
  left: 0;
  height: 4px;
  width: 100%;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
  background-color: #1a1a1a;
}

.hamburger.is-closed .hamb-top {
  top: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-middle {
  top: 50%;
  margin-top: -2px;
}

.hamburger.is-closed .hamb-bottom {
  bottom: 5px;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
  top: 0;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-bottom {
  bottom: 0;
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
  background-color: #fff;
}

.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
  top: 50%;
  margin-top: -2px;
}

.hamburger.is-open .hamb-top {
  -webkit-transform: rotate(45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open .hamb-middle {
  display: none;
}

.hamburger.is-open .hamb-bottom {
  -webkit-transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.73, 1, 0.28, 0.08);
}

.hamburger.is-open:before {
  content: '';
  display: block;
  width: 100px;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

.hamburger.is-open:hover:before {
  opacity: 1;
  display: block;
  -webkit-transform: translate3d(-100px, 0, 0);
  -webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay           \*/
/*-------------------------------*/
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

header {
  background-color: #fff;
  height: 80px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.1);
}
header img {
  height: 60px !important;
  margin-top: 10px;
}

.socialNav {
  position: absolute;
  bottom: 60px;
  right: 40px;
}

.fa {
  color: #fff;
  font-size: 25px;
  padding: 0 5px;
}

/*-------------------------------*/
/*            Single             */
/*-------------------------------*/
.recommendedLogos {
  background-color: #121212;
  padding: 15px 0;
}

#recommended {
  padding: 15px 0 25px;
  background-color: #121212;
  color: #fff;
  text-align: center;
}
#recommended h2 {
  font-weight: 400;
}

.singleHeading {
  text-align: center;
  margin-top: 30px;
}
.singleHeading img {
  height: 300px;
}
.singleHeading h3 {
  font-weight: 900;
  margin: 25px 0 0;
}
.singleHeading .singleDiscount {
  display: block;
  width: 150px;
  margin: 20px auto;
  padding: 10px 20px;
  background: transparent;
  border: 4px solid #121212;
  color: #121212;
  font-size: 25px;
  font-weight: 800;
}

.getOffer {
  display: block;
  width: 200px;
  text-transform: uppercase;
  background: #121212;
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  outline: none;
  margin: 25px auto 0;
}

.getOffer:hover {
  background: #1c1c1c;
  transition: all ease 0.3s;
}

.singleDescription {
  text-align: center;
}

.recommendedTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: #fff;
  font-weight: 500;
}

.filterTitle {
  font-family: 'Roboto Condensed', sans-serif;
}
.filterTitle h4 {
  margin-left: 15px;
  font-weight: 700;
}
.filterTitle hr {
  color: black;
  border-color: black;
  margin-left: 15px;
  margin-right: 15px;
}

.categorySingle {
  font-family: 'Roboto Condensed', sans-serif;
  height: 400px;
}
.categorySingle .categoryTitle {
  display: block;
  margin: 10px auto 3px;
  color: #121212;
  text-transform: uppercase;
  font-weight: 600;
}
.categorySingle .categoryTitle:hover {
  text-decoration: none;
  color: #1c1c1c;
  transition: all ease 0.3s;
  font-weight: 500;
}
.categorySingle .categorySingleButton {
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px auto;
  padding: 10px 20px;
  border: 1px solid #121212;
  background: transparent;
  font-size: 15px;
  font-weight: 600;
  color: #121212;
}
.categorySingle .categorySingleButton:hover {
  transition: background-color ease 0.3s;
  background-color: #e0957a;
  border-color: #e0957a;
  color: #fff;
}
.categorySingle small {
  color: #121212;
  font-size: 12px;
  margin-bottom: 3px;
}
.categorySingle .procent {
  color: #e0957a;
  font-size: 10px;
  text-transform: uppercase;
}
.categorySingle .endTime {
  text-align: right;
  color: #8e8e8e;
  font-size: 11px;
  text-transform: uppercase;
  margin-top: 10px;
}

.categoryImage {
  background-size: cover;
  height: 300px;
  font: 0/0 a;
}

.categoryImage:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.categoryImage img {
  display: inline-block;
  vertical-align: middle;
  max-height: 100%;
}

/*-------------------------------*/
/*            Modal              */
/*-------------------------------*/
.modal-dialog {
  width: 400px;
}

.modal-content {
  border-radius: 0;
  box-shadow: none;
  border: none;
  background-color: #121212;
  padding: 20px 0;
}
.modal-content .modal-header {
  padding: 0;
  border: none;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 15px;
}
.modal-content .modal-header .modalButton {
  background-color: #454545;
  color: #fff;
  width: 150px;
  margin: 0;
  padding: 15px 20px;
  border: none;
}
.modal-content .modal-header .modalButton:focus {
  outline: none;
}
.modal-content .modal-header .modalButton:active {
  outline: none;
}
.modal-content .modal-header .modalButton.active {
  color: #fff;
  background-color: #ff3366;
}
.modal-content .modalForm h4 {
  color: white;
  font-weight: 300;
  font-size: 25px;
  text-align: center;
  margin-bottom: 45px;
}
.modal-content .modalForm form {
  display: table;
  margin: 20px auto 0;
}
.modal-content .modalForm form label {
  position: relative;
  display: block;
}
.modal-content .modalForm form label input {
  font: 18px Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  display: block;
  border: none;
  padding: 20px;
  width: 300px;
  margin-bottom: 20px;
  font-size: 18px;
  outline: none;
  transition: all 0.2s ease-in-out;
}
.modal-content .modalForm form label input::-webkit-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.modal-content .modalForm form label input::-moz-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.modal-content .modalForm form label input:-ms-input-placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.modal-content .modalForm form label input::placeholder {
  transition: all 0.2s ease-in-out;
  color: #999;
  font: 18px Helvetica, Arial, sans-serif;
}
.modal-content .modalForm form label input:focus, .modal-content .modalForm form label input.populated {
  padding-top: 28px;
  padding-bottom: 12px;
}
.modal-content .modalForm form label input:focus::-webkit-input-placeholder, .modal-content .modalForm form label input.populated::-webkit-input-placeholder {
  color: transparent;
}
.modal-content .modalForm form label input:focus::-moz-placeholder, .modal-content .modalForm form label input.populated::-moz-placeholder {
  color: transparent;
}
.modal-content .modalForm form label input:focus:-ms-input-placeholder, .modal-content .modalForm form label input.populated:-ms-input-placeholder {
  color: transparent;
}
.modal-content .modalForm form label input:focus::placeholder, .modal-content .modalForm form label input.populated::placeholder {
  color: transparent;
}
.modal-content .modalForm form label input:focus + span, .modal-content .modalForm form label input.populated + span {
  opacity: 1;
  top: 10px;
}
.modal-content .modalForm form label span {
  color: #ff3366;
  font-weight: 600;
  font: 13px Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  left: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.modal-content .modalForm form input[type="submit"] {
  transition: all 0.2s ease-in-out;
  font: 18px Helvetica, Arial, sans-serif;
  border: none;
  background: #ff3366;
  color: #fff;
  padding: 16px 40px;
  margin: 0 auto;
  width: 100%;
}
.modal-content .modalForm form input[type="submit"]:hover {
  background: #ff1a53;
}
.modal-content .modalForm form input[type="submit"]:focus {
  outline: none;
}

.btn-getCoupon {
  background: #65d34b;
  color: white;
  padding: 10px 0;
}
.btn-getCoupon:hover {
  color: white;
  outline: none;
}
.btn-getCoupon:focus {
  color: white;
  outline: none;
}

#couponModal .modal-dialog {
  width: 500px;
}
#couponModal .modal-content {
  background: white;
}
#couponModal .modal-content .couponDescription {
  margin-top: 20px;
}
#couponModal .modal-content .couponDescription .btn-getCoupon {
  margin-top: 10px;
  width: 100%;
}
#couponModal .modal-content .couponDescription .couponCode {
  text-align: center;
}
#couponModal .modal-content .couponDetails {
  background-size: cover;
  position: relative;
  height: 350px;
}
#couponModal .modal-content .couponDetails .couponCTA {
  background: white;
  width: 50%;
  padding: 20px;
  left: 20px;
  top: 20px;
  height: calc(100% - 40px);
  position: absolute;
}
#couponModal .modal-content .couponDetails .couponCTA img {
  max-height: 100px;
  margin: 0 auto;
}
#couponModal .modal-content .couponDetails .couponCTA .btn-getCoupon {
  width: 100%;
}

/*-------------------------------*/
/*            Welcome            */
/*-------------------------------*/
#welcomeScreen {
  background: white;
  z-index: 9999;
  position: absolute;
  width: 110% !important;
  left: -5%;
  height: 100vh;
  overflow: hidden;
}
#welcomeScreen .col-sm-4 {
  transition-duration: 0.5s;
  height: 50vh;
  background-size: cover;
}
#welcomeScreen .message {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99999;
}
#welcomeScreen .message img {
  margin: 0 auto;
}
#welcomeScreen .message h2 {
  top: 50%;
  color: white;
  text-align: center;
}
#welcomeScreen .message .messageInside {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.topLoader {
  position: absolute;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.95);
}

.topLoader > div {
  border: 15px solid pink;
  border-top: 15px solid #ffdbf7;
  border-radius: 50%;
  width: 148px;
  height: 148px;
  animation: spin 2s linear infinite;
  position: relative;
  left: calc( 50% - 60px );
  top: calc( 50% - 123px );
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*-------------------------------*/
/*            Zoom In            */
/*-------------------------------*/
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
.zoomIn {
  animation-name: zoomIn;
}

@media screen and (max-width: 768px) {
  #welcomeScreen .col-sm-4 {
    height: 20vh;
    background-position: center;
  }

  h1 {
    font-size: 50px;
  }

  .categoryImage {
    height: 100vw;
  }

  .categorySingle {
    height: calc(100vw + 150px);
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 35px;
  }

  #recommended {
    padding: 50px 10px;
  }
}
